@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,700;1,400;1,600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}

body {
  background-color: rgb(254,205,48);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#logo {
  height: 40px;
  margin-right: -35px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#nav {
  /* border: 3px solid black; */
  margin-bottom: 10px;
  min-height: 50px;
  /* background-color: rgb(51,51,51); */
  padding: 3px 15px;
  display: flex;
  justify-content:space-around;
}

#navItems {
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 30px;
}

#bodyImg {
  /* border: solid blue; */
  background-image: url("./views/images/Burger.jpg");
  background-size: cover;
  height: 80vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 8px 8px rgb(254,205,48) inset;
}

.btn {
  color: black;
  background-color: var(--background-color);
  padding: 15px;
  border: none;
  outline: none;
  position: relative;
  font-size: large;
  border-radius: 10px;
  margin-top: 30px;
  cursor: pointer;

  --background-color: rgb(254,205,48);
  --accent-color: red;
  --border-size: 2px
}

.btn.btn-background-slide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 10px;
  z-index: -1;
  background-color: var(--accent-color);

  transition: transform 300ms ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.btn.btn-background-slide:hover::before,
.btn.btn-background-slide:focus::before {
  transform: scaleX(1);
}

.btn.btn-background-slide {
  transition: color 300ms ease-in-out;
  z-index: 1;
}

.btn.btn-background-slide:hover,
.btn.btn-background-slide:focus {
  color: white;
}


.link {
  color: black;
  border: none;
  outline: none;
  position: relative;
  font-size: x-large;
  text-decoration: none;
  cursor: pointer;
  

  --border-size: 2px;
  --accent-color: black ;
}


.link.link-border-underline::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: var(--border-size);
  background-color: var(--accent-color);
  transition: transform 300ms ease-in-out;

  transform: scaleX(0);
}

.link.link-border-underline:hover::before,
.link.link-border-underline:focus::before {
  transform: scaleX(1);
}

#menuCard {
  /* border: 1px solid blue; */
  width: 35%;
}

#helpIcon {
  height: 100px;
}

#info {
  margin-top: 10px;
}

.container {
  background-image: url("./views/images/Wood.jpg");
  background-size: cover;
  color: black;
  font-size: large;
  /* font-family: 'Montserrat', sans-serif; */
  height: 85vh;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  box-shadow: 0px 0px 8px 8px rgb(254,205,48) inset;
  
}

.itemCard {
  width: 250px;
  margin: 20px;
  box-shadow: 0 0 20px 2px black;
  transition: 300ms ease-in-out;
  border-radius: 5px;
  display: inline-block;
}

.itemCard img {
  display: block;
  height: 250px;
  width: 250px;
  border-radius: 5px;
}

.itemCard:hover,
.itemCard:focus{
  transform: scale(1.3);
  z-index: 2;
}

.menuInfo {
  /* border: 1px solid black; */
  background-image: linear-gradient(transparent, white);
  text-align: left;
  margin-top: 125px;
  padding: 5px;
  position: relative;
  
}

input.checkBox {

  width: 20px;
  height: 20px;
  position: relative;
  left: 215px;
  top: 45px;
}